.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
inst/doc
.Rprofile
README.html
man/figures/
*.html
*.R
*.pdf
*.aux
library/
local/
cellar/
lock/
python/
sandbox/
staging/
